.credit-card-review {
    background: #000;
    color: #fff;
    padding: 60px 5rem;
}

.credit-card-review-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    gap: 5rem;
}

.review-content {
    align-self: center;
}

.review-menu-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .credit-card-review h1 {
        text-align: center;
    }
    .credit-card-review-grid {
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        gap: 1rem;
    }
    .review-menu-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .credit-card-review {
        padding: 10px 1rem;
    }
}