.card-guide {
    display: grid;
    grid-template-columns: 35% 1fr;
    background: whitesmoke;  
}

.card-type-details {
    padding: 25px;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    gap: 3rem;
}
.card-menu {
    width: 100%;
    align-self: center;
}

.card-list {
    display: grid;
    grid-template-rows: repeat(5, fr);
    gap: 1rem;
}

.features-card-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.feature-card-footer {
    display: grid;
    justify-items: center;
}

.feature-card-footer .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    padding-top: 1rem;
}

.features-card-details button {
    margin-top: 25px;
}

@media only screen and (max-width: 1000px)  {
    .card-guide {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-type-details {
        grid-template-rows: none;
    }
    .features-card-details {
        padding: 25px 0px;
    }
}
