.credit-card-articles {
    display: grid;
    align-items: center;
    gap: 2rem;
}
.review-article-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-self: center;
    gap: 1rem;
    height: 100%;
    width: 75%;
}

.review-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 1000px) {
    .credit-card-articles {
        border: 2px solid black;
        gap: 0;
        grid-template-rows: auto auto 1fr auto;
        padding: 0;
    }
    .review-card {
        border: 2px solid pink;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
    }
    .review-article-card {
        border: 2px solid red;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
        width: 75%;
        place-self: center;
    }
}
